* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 90%;
    height: 5rem;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: white;
}

@media (min-width: 700px) {
    button {
        width: 70%;
    }
}

@media (min-width: 1100px) {
    button {
        width: 50%;
    }
}